<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
          <wsHttpBinding>
            <binding name="WSHttpBinding_OntoWeb" >
              <security mode="Transport">
                <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
                <message clientCredentialType="UserName" algorithmSuite="Default"/>
              </security>
            </binding>
          </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wvps176-28-40-26.dedicated.hosteurope.de:8088/OntWeb/OntWeb/OntoWeb.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_OntoWeb"
                contract="OntoWeb.OntoWebSoap" name="OntoWebSoap" />
        </client>
    </system.serviceModel>
</configuration>