<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OntoWebSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="OntoWebSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wvps176-28-40-26.dedicated.hosteurope.de/OntoWeb/OntoWeb.asmx"
                binding="basicHttpBinding" bindingConfiguration="OntoWebSoap"
                contract="OntoWeb.OntoWebSoap" name="OntoWebSoap" />
        </client>
    </system.serviceModel>
</configuration>