<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <dtbl_BaseConfig>
    <ConfigItem_Name>Path_Orig</ConfigItem_Name>
    <ConfigItem_Value>C:\Users\tassilok\Documents\Development\New\Process-Manager\Process-Manager\bin\Debug</ConfigItem_Value>
  </dtbl_BaseConfig>
  <dtbl_BaseConfig>
    <ConfigItem_Name>Path_Copy</ConfigItem_Name>
    <ConfigItem_Value>C:\Users\tassilok\Documents\Development\New\Modules\Process-Management</ConfigItem_Value>
  </dtbl_BaseConfig>
  <dtbl_BaseConfig>
    <ConfigItem_Name>EXE</ConfigItem_Name>
    <ConfigItem_Value>Process-Manager.exe</ConfigItem_Value>
  </dtbl_BaseConfig>
  <dtbl_BaseConfig>
    <ConfigItem_Name>Plugin</ConfigItem_Name>
    <ConfigItem_Value>True</ConfigItem_Value>
  </dtbl_BaseConfig>
  <dtbl_BaseConfig>
    <ConfigItem_Name>Config</ConfigItem_Name>
    <ConfigItem_Value>False</ConfigItem_Value>
  </dtbl_BaseConfig>
</DocumentElement>