<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OServiceAttributeTypesSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceClassesSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceRelationTypesSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceObjectsSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceClassRelSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceObjectRelSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceClassAttSoap" maxReceivedMessageSize="100000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/OntWeb/OServiceAttributeTypes.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceAttributeTypesSoap"
                contract="OServiceAttributeTypes.OServiceAttributeTypesSoap"
                name="OServiceAttributeTypesSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceClassAtt.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceClassAttSoap"
                contract="OServiceClassAtt.OServiceClassAttSoap" name="OServiceClassAttSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceClasses.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceClassesSoap"
                contract="OServiceClasses.OServiceClassesSoap" name="OServiceClassesSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceClassRel.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceClassRelSoap"
                contract="OServiceClassRel.OServiceClassRelSoap" name="OServiceClassRelSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceObjectRel.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceObjectRelSoap"
                contract="OServiceObjectRel.OServiceObjectRelSoap" name="OServiceObjectRelSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceObjects.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceObjectsSoap"
                contract="OServiceObjects.OServiceObjectsSoap" name="OServiceObjectsSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceRelationTypes.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceRelationTypesSoap"
                contract="OServiceRelationTypes.OServiceRelationTypesSoap"
                name="OServiceRelationTypesSoap" />
        </client>
    </system.serviceModel>
</configuration>