<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OServiceClassRelSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceObjectRelSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceClassAttSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceOItemsSoap" maxReceivedMessageSize="100000000" />
                <binding name="OServiceConfigurationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/OntWeb/OServiceClassAtt.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceClassAttSoap"
                contract="OServiceClassAtt.OServiceClassAttSoap" name="OServiceClassAttSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceClassRel.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceClassRelSoap"
                contract="OServiceClassRel.OServiceClassRelSoap" name="OServiceClassRelSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceObjectRel.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceObjectRelSoap"
                contract="OServiceObjectRel.OServiceObjectRelSoap" name="OServiceObjectRelSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceOItems.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceOItemsSoap"
                contract="OServiceOItems.OServiceOItemsSoap" name="OServiceOItemsSoap" />
            <endpoint address="http://localhost/OntWeb/OServiceConfiguration.asmx"
                binding="basicHttpBinding" bindingConfiguration="OServiceConfigurationSoap"
                contract="OServiceConfiguration.OServiceConfigurationSoap"
                name="OServiceConfigurationSoap" />
        </client>
    </system.serviceModel>
</configuration>